<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title><%= title %></title>
    <meta name="description" content="TrungNM, TrungNM"/>
    <link rel="stylesheet" href="/stylesheets/metro.css">
</head>
<body class="metro">
<h1><%= title %></h1>

    <form action="/signup" method="get">
        <input type="submit" value="Sign up">
    </form>
    <form action="/setting" method="get">
        <input type="submit" value="Account Settings">
    </form>


<div class="input-control text">
    <table class="stipped">
        <thead>
        <td>Username</td>
        <td>Email</td>
        <td>Fullname</td>
        <td>Gender</td>
        <td>Birthday</td>
        <td>This is Sparta !</td>
        </thead>
        <% for (var item in data) { %>
        <tr>
            <form action="/setting" method="post">
                <td>
                    <input type="text" value="<%= data[item].local.username %>">
                </td>
                <td>
                    <input type="text" name="email" placeholder="Your Email" value="<%= data[item].email %>">
                </td>
                <td>
                    <input type="text" name="fullname" placeholder="Your Fullname"
                           value="<%= data[item].fullname %>">
                </td>
                <td>
                    <input type="text" name="gender" placeholder="Your Gender" value="<%= data[item].gender %>">
                </td>
                <td>
                    <input type="text" name="birthday" placeholder="Your Birthday" value="<%= data[item].birthday %>">
                </td>
                <td>
                    <a href="/delete/<%= data[item].id %>">Delete</a>
                    <input type="submit" value="Modify">
                </td>
            </form>
        </tr>
        <% } %>
    </table>

</div>
</body>
</html>