<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<input type="hidden" id="ownerId" value="<%= ownerId %>" />
<input type="hidden" id="onlinerId" value="<%= onlinerId %>" />

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<hr/>
<% if(onlinerId == ''){ %>
    <p>Please <a href="/login">sign in</a></p>
<% }else{ %>
    <p>Get notification</p>
    <div id="friendRequestBox">

    </div>
<% } %>

<div id="notifications">

</div>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/socket.io/socket.io.js"> </script>
<script src="/javascripts/socket/io.config.js"></script>
<script src="/javascripts/socket/friend.socket.js"></script>
</body>
</html>