<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Add new User - <%= title %></title>
    <meta name="description" content="TrungNM, TrungNM"/>
    <link rel="stylesheet" href="/stylesheets/metro.css">
</head>
<body class="metro">
<h1>List All User </h1>

<form action="/addnew" method="get">
</form>

<div>

    <form action="/newuser" method="post">
        <input type="text" name="username" placeholder="Your Username"></br>
        <input type="text" name="password" placeholder="Your Password"></br>
        <input type="text" name="email" placeholder="Your Email"></br>
        <input type="text" name="fullname" placeholder="Your Fullname"></br>
        <select name="day" >
            <% for (var i = 1; i<=31; i++){ %>
               <option value="<%=i%>"><%= i%></option>
            <% } %>
        </select>
        <select name="month" >
            <% for (var i = 1; i<=12; i++){ %>
            <option value="<%=i%>"><%= i%></option>
            <% } %>
        </select>
        <select name="year" >
            <% for (var i = 1900; i<= 2013 ; i++){ %>
            <option value="<%=i%>"><%= i%></option>
            <% } %>
        </select></br>
        <input type="radio" name="gender" value="male">Male <input type="radio" name="gender" value="female">Female</br>
        <a href="http://truyen.vnsharing.net/Truyen/Hang-Xom-Cua-Toi-La-Rong?id=8497" >Doc Dieu Khoan</a></br>
        <input type="submit" value="Add User">
    </form>

</div>
</body>
</html>