<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/metro.css">
</head>
<body class="metro">
<h1><%= title %></h1>

<form action="/creategroup" method="get">
    <input type="submit" value="Create new group">
</form>

<div class="input-control text">
    <table class="stipped">
        <thead>
        <td>Group</td>
        <td>Something</td>
        <td>This is Sparta !</td>
        </thead>
        <% for (var item = 0; item < user.group.length; item++) { %>
        <tr>
            <form action="/deleteGroup" method="post">
            <td>
                <a href="/groups/<%= user.group[item]._id %>"><%= user.group[item].name %></a>
            </td>
            <td>
                <input type="text" name="listUser" value="<%= user.group[item].listUser[0] %>">
            </td>
            <td>
                <button type="submit">Nhóm lờ, chết đi!</button>
            </td>
            </form>
        </tr>
        <% } %>
    </table>

</div>
</body>
</html>