<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<div class="alert alert-danger" id="error-box" style="display:none;"></div>
<form id="register-form" name="register-form" action="/signup" method="post">
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name"/>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name"/>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username"/>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirmed password</label>
        <input type="password" class="form-control" id="confirm-password" name="confirmPassword" placeholder="Password confirm"/>
    </div>
    <div class="form-group">
        <label for="date">
            <select id="date" name="date" class="form-control">
                <option value="0">Date</option>
                <% for(var i=0; i< dates.length;i++){ %>
                    <option value="<%= dates[i] %>"><%= dates[i] %></option>
                <% } %>
            </select>
        </label>
        <label for="month">
            <select id="month" name="month" class="form-control"/>
                <option value="0">Month</option>
                <% for(var i=0; i< months.length;i++){ %>
                    <option value="<%= months[i] %>"><%= months[i] %></option>
                <% } %>
            </select>
        </label>
        <label for="year">
            <select id="year" name="year" class="form-control"/>
                <option value="0">Year</option>
                <% for(var i=0; i< years.length;i++){ %>
                    <option value="<%= years[i] %>"><%= years[i] %></option>
                <% } %>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>
            <input type="radio" name="gender" value="male" class="form-control" checked/>Male
        </label>
        <label>
            <input type="radio" name="gender" value="female" class="form-control"/>Female
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
<hr>

<p>Already have an account? <a href="/login">Login</a></p>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#register-form').submit(function(){
            // do the AJAX post
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: $('#register-form').attr('action'),
                data: $('#register-form').serialize(),
                beforeSend: function(){

                },
                success: function(status, data){
                    $('#error-box').attr('style','display:none');
                    window.location.href="/profileTest";
                },
                error: function(xhr, status, err){
                    // var error = eval("("+xhr.responseText+")");
                    var $errorBox = $('#error-box');
                    $errorBox.show().html('<p>'+xhr.responseText+'</p>');
                }
            });
        });
    });
</script>
</body>
</html>