<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>View Event Detail</title>
</head>
<body >
<h1>View Event Detail </h1>

    <form action="/event/update/<%=event._id%>" method="post">
    Name :<input type="text" name="name" placeholder="Event Username" value="<%=event.name%>"><br>
    Star Time :<input type="date" name="startTime" placeholder="StartTime" value="<%=event.startTime%>"><br>
    End Time :<input type="date" name="endTime" placeholder="End Time" value="<%=event.endTime%>"><br>
    Description :<input type="text" name="description" placeholder="Description" value="<%=event.description%>"><br>
    Location :<input type="text" name="location" placeholder="Location" value="<%=event.location%>"><br>
    Privacy :<input type="text" name="privacy" placeholder="privacy" value="<%=event.privacy%>"><br>
    Creator :<input type="text" name="creator" placeholder="creator" value="<%=event.creator%>"><br>
    Like :<%=event.like%><br>
    Participate : <%=event.user%><br>
    Comment: <%=event.comment%><br>
    Announcement :<input type="text" name="announcement" placeholder="announcement" value="<%=event.announcement%>"><br>
        <input type="submit" value="Edit">
    </form>


</div>
</body>
</html>